:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-background-color: #f5f4fa;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.hidden-title {
  visibility: hidden;
}
address {
  font-style: normal;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* header */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.logo-2-part {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.header-nav-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-link.current {
  color: var(--accent-color);
}
.contacts-link {
  color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* hero*/
.hero {
  background-color: #2f303a; /* temporary solution */
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.advantage-text {
  color: var(--text-color);
}

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}

.team {
  background-color: var(--main-background-color);
}

.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color);
}
/* porfolio */
.button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.ourworks-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.ourworks-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.ourworks-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-color);
}
/* footer */
.footer {
  background-color: #2f303a;
}

.logo-2-part-footer {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.real_address {
  color: var(--primary-white-color);
}

.footer_contacts {
  color: rgba(255, 255, 255, 0.6);
}
