.list {
  list-style: none;
  text-decoration: none;
}

.hidden-title {
  visibility: hidden;
}
address {
  font-style: normal;
}

body {
  background-color: #fff;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* header */
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
.logo-2-part {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: #000000;
}
.links {
  color: #000000;
}
.link {
  color: #757575;
}
.link:focus {
  color: #2196f3;
}
.link:hover {
  color: #2196f3;
}
.contacts {
  color: #757575;
}
/* hero-main */
.section1 {
  width: 1600;
  height: 600;
  background-color: #2f303a; /* temporary solution */
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.title-section2 {
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.text-section2 {
  color: #757575;
}

.main-title-section {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2x;
  text-align: center;
}

.section4 {
  background-color: #f5f4fa;
}

.title-section4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.text-section4 {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #757575;
}

/* porfolio */
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border-color: white;
  border-style: solid;
  border-radius: 4px;
}
.button:hover {
  color: #2196f3;
}
.button:focus {
  color: #2196f3;
}

.port-link-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.port-text {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}
/* footer */
.footer {
  background-color: #2f303a;
}

.real_address {
  color: #ffffff;
}

.footer_contacts {
  color: rgba(255, 255, 255, 0.6);
}
